*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: linear-gradient(108.81deg, #7C8761 -21.51%, #80AF81 36.42%, rgba(26, 83, 25, 0.9) 87.8%);
    --secondary-color:linear-gradient(180.92deg, #508D4E -13.8%, #161313 154.8%);
    --third-color:#FFFFFF1A; 
    --forth-color: #1A5319;
    --fifth-color:#7C8761AB;
    --sixth-color:#ffffff;
   
  
}
.dark-mood{
    --primary-color: linear-gradient(108.81deg, #4C5537 -21.51%, #4D724E 36.42%, rgba(9, 41, 9, 0.9) 87.8%);
    --secondary-color:linear-gradient(180deg, #D6EFD8 -14.81%, #7C8761 100%);
    --third-color: #04240b93;
    --forth-color:#fff;
    --fifth-color: #D6EFD8;
    --sixth-color:#7C8761;
}
body{
    background:var(--primary-color);
    height:1450px;
   width: 1200px;

    }
    #logo{
        position: relative;
        background-color: transparent;
        color: white;
        text-align: left;
        top: 33px;
        z-index: 1;
    }
    .container{
        padding: 3% 15% 6%;
    
    }
    select {
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background:transparent;
        position:absolute;
        color: #ffffff;
        transition: all 0.3s ease;
    }
    
    select:focus {
        outline: none;
        background: #7C8761AB;
        border-color: #1A5319;
        box-shadow: 0 0 5px #619960;;
    }
    #theme-switch{
        height: 40px;
        width: 40px;
        padding: 0;
        border: none;
        border-radius: 50%;
        border-color: #D6EFD8;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    #theme-switch svg{
        fill: var(--third-color);
    }
    #theme-switch svg:last-child{
        display: none;
    }
    .dark-mood #theme-switch svg:first-child{
        display: none;
    }
    .dark-mood #theme-switch svg:last-child{
        display: block;
        fill: white;
    }
    .btn{
        border-radius: 45px;
        background: var(--fifth-color);
        width: 70px;
        height: 50px;
        top: 9px;
        padding: 10px 10px 11px 11px;
        border-radius: 45px;
        border: 1px solid var(--sixth-color);
        color: var(--sixth-color);
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        cursor: pointer;
        text-align: center; 
    }
    .n{
        position: relative;
        top: 4px; 
        left: 70px;
        /* width: 630px; */
        gap: 50px;
    }
    .l1{
        width: 96px;
        color: #fff;
        font-family: "Pristina";
        font-size: 60px;
        font-weight: 400;
        line-height: 71.81px;
        text-align: left;
        height: 72px;
        position: relative;
        left: 120px;
    }
    .n1{
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        justify-content: space-between;
        position: relative;

    }
    .n2{
        position: relative;
        top: 4px; 
        gap: 10px;

    }
    .sel{
        position: relative;
        top: 4px; 
         padding: 10px;
    }
    #ch{
        position: relative;
        width: 261px;
        height: 45px; 
        left: 123px;
        top: 70px;
        font-family:"Poppins";
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 45px;
        text-align: center;
        background: var(--forth-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform : uppercase;

    }
    .contact{
        position: relative;
        top: 70px;
        width: 960px;
        height: 552px;
        border-radius: 50px;
        background: #D6EFD83B;
        display: flex;
        text-align: center;
      
    }
    #cform{
        width: 693px;
        height: 607px;
        position: relative;
        /* left: 50px; */
        text-align: center;
    }
    #images{
        display: flex;
        width: 100px;
        position: relative;
    }
    #w{
        position: relative;
        width: 390px;
        border-radius: 0 50px 50px 0;
        
    }
    #y{
        position: relative;
        top: 50px;
        left: -290px;
        width: 270px;
        height: 40px;
        z-index: 1;
    }
    #z{
        position: relative;
        z-index: 1;
        width: 48.75px;
        height: 68.25px;
        
    }
    .loc{
        background: #FFFFFF;
        border-radius: 30px;
        position: relative;
        top: 360px;
        left: -550px;
        width: 250px;
        height: 124px;
        
    }
    .in{
        margin: 10px;
        padding: 5px;
        width: 180px;
        position: relative;
        top: 100px;
        border: none;
        border-bottom: 1px solid var(--forth-color);
        outline: none;
        background: none; 
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        background: #D6EFD8;
        text-transform: uppercase;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }
    #p1{
        margin-left: 20px;
        margin-top: 10px;
        width: 103px;
        height: 24px;
        top: 13px;
        left: 41px;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        text-align: left;
        color: #1A5319;
        text-transform: uppercase;
    }
    #p2{
        margin: 20px;
        width: 178px;
        height: 30px;
        top: 59px;
        left: 41px;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #1A5319;
                
    }
    .btn4{
        position: relative;
        width: 283px;
        height: 50px;
        top: 130px;
        padding: 10px 0px 10px 0px;
        border-radius: 45px ;
        background: var(--fifth-color);
        border: 1px solid var(--sixth-color);
        font-family:"Poppins";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color:var(--sixth-color);
      
    }
    .row{
        width: 1350px ;
    }
    .foo{
        height: 350px; 
        background: linear-gradient(86.29deg, rgba(124, 135, 97, 0.5) 1.58%, rgba(214, 239, 216, 0.4) 105.3%);   
        display: flex;
        position: relative;
        top: 308px;
    }
    .l2{
        position: relative;
        width: 77px;
        height: 72px;
        top: 44px;
        left: 112px; 
        font-family: "Pristina";
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 71.81px;
        text-align: left;
        color: #FFFFFF;
        
    }
    #pfoo{
        position: relative;
        width: 295px;
        height: 24px;
        top: 85px;
        left: 73px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        text-wrap: wrap;
        
    }
    #table2{
        position: relative;
        width: 100%;
        color: #FFFFFF;
       
    }
    #table2 th{
        position: relative;
        font-family: "Poppins";
        font-size: 26px;
        font-weight: 400;
        line-height: 39px;
        text-align: center;
        text-decoration: underline;
        
    }
    #table2 td{
        text-align: center;
        font-family:"Poppins";
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        text-align: center;
        
    }
    #social{
        width: 30px;
        height: 30px;
        color: #D9D9D9;
        background: transparent;
        border: 2px solid #D6EFD8;
        border-radius: 50px;
    
        
    }
    #popup {
        display: none;
        position: absolute;
        border: 3px solid #f1f1f1;
        z-index: 9;
        width: 449px;
        height: 250px;
        text-align: center;
        border-radius: 20px;
        left: 33%;
        top:30%;
        background-color: rgba(256, 256, 256, 0.7);
        backdrop-filter: blur(5px);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    } 
    .pop p{
        position: relative;
        clear: both;
        width: 80%;
        height: 30px;
        left: 10%;
        padding-top: 25px;
        padding-bottom: 0;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #80AF81;
    }
    #customConfirm{
        display: none;
        position: absolute;
        border: 3px solid #f1f1f1;
        z-index: 9;
        width: 449px;
        height: 250px;
        text-align: center;
        border-radius: 20px;
        left: 33%;
        top:30%;
        background-color: rgba(256, 256, 256, 0.7);
        backdrop-filter: blur(5px);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    } 
    #customConfirm p{
        position: relative;
        clear: both;
        width: 80%;
        height: 30px;
        left: 10%;
        padding-top: 25px;
        padding-bottom: 0;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #80AF81;
    }
    #yesButton{
        clear: both;
        font-family: "Poppins";
        color: white;
        font-size: 18px;
        width: 276px;
        height: 50px;
        margin-top: 0;
        padding: 10px 0px 10px 0px;
        border-radius: 45px;
        border: 1px;
        background: #7C8761AB;
        border: 1px solid #FCFCFC;
        cursor: pointer;   
    }
    #noButton{
        height: 30px;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        background: #7C8761A1;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        clear: both;
        border: none;
        cursor: pointer; 
    }
    #logout{
        clear: both;
        font-family: "Poppins";
        color: white;
        font-size: 18px;
        width: 276px;
        height: 50px;
        margin-top: 0;
        padding: 10px 0px 10px 0px;
        border-radius: 45px;
        border: 1px;
        background: #7C8761AB;
        border: 1px solid #FCFCFC;
        cursor: pointer;
    }
    #logout:hover{
        transform: scale(1.02);
    }
    #cancel{
        height: 30px;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        background: #7C8761A1;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        clear: both;
        border: none;
        cursor: pointer;
    }
    #cancel:hover{
        transform: scale(1.02);
    }
    #logo.active{
        filter: blur(5px);
    }
    
    #l2.active{
        filter: blur(5px);
    }
    @media screen and (max-width: 1100px) {
        body{
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .l1{
            position: relative;
            left: 50px;
        }
        .n1{
            position: relative;
            left: -10px;
        }
        .n , .n2{
            position: relative;
            left: 40px;
        }
        .contact{
            position: relative;
            top: 70px;
            width: 550px;
            height: 600px;
          
        }
        #images{
           display: none;
        }
        .btn4{
            width:183px ;
        }
        .row{
            width: auto;
        }
        .foo{
            height: 600px;
            display: grid;
            width: 100%;
        }
        #pfoo{
          font-size: 1rem;  
          position: relative;
          left: 10px;
        }
        #table2{
            display: grid;
            width: auto;
            position: relative;
            left: 10px;
        }
        #table2 th{
            position: relative;
            font-size: 1rem;
        
            
        }
        #table2 td{
            font-size: 0.8rem;
            
        }
    }
    @media screen and (max-width: 550px) {
        body{
            width: auto;
            height: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .l1{
            position: relative;
            left: 20;
        }
        .contact{
          position: relative;
            width: 300px;
            height: 780px;
          
        }
        .row{
            width: auto;
        }
        #cform{
            width: 250px;
        }
        #images{
            display: none;
        }
        #ch{
            position: relative;
            left: 0;
        }
        .foo{
            height: 600px;
            display: grid;
            width: 100%;
        }
        #pfoo{
          font-size: 1rem;  
          position: relative;
          left: 10px;
        }
        #table2{
            display: grid;
            width: auto;
            position: relative;
            left: 10px;
        }
        #table2 th{
            position: relative;
            font-size: 1rem;
        
            
        }
        #table2 td{
            font-size: 0.8rem;
            
        }

    }
