*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
    margin-left: 50px;
    background: linear-gradient(108.81deg, #7C8761 -21.51%, #80AF81 36.42%, rgba(26, 83, 25, 0.9) 87.8%);
    display: flex;
}
.container{
    font-family: "Poppins";
    position: absolute;
    padding: 10px 30px;
    margin-top: 90px;
    margin-left: 400px;
    /* width: 600px;
    height: 490px; */
    width: 700px;
    height: 490px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 55px;
    border: 1px solid #F1F1F17A;
    box-shadow: -47.43px 47.43px 47.43px #FFFFFF1A inset;
    box-shadow: 47.43px -47.43px 47.43px #C2C2C21A inset;
    background: #FFFFFF1A;
    backdrop-filter: blur(10px);
    z-index: 1;
    animation: slide 0.6s ease-out;
}
.box{
    align-items: flex-start;
    display: flex;
    height: 100vh;
    position: relative;
}
#img1{
    position: absolute;
    width:420px;
    height:430px;
    top: 130px;
    left: 50px;
    border-radius: 55px;
    background: #D9D9D9;
    object-fit: cover;
    animation: slide1 0.6s ease-out;
}
#l1{
    width: 160px;
    margin-bottom: 6px;
    margin-left: 120px;
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
    text-align: center;
    background: linear-gradient(180deg, #508D4E 0%, #161515 74.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    width: 96px;
    color: #fff;
    font-family: "Pristina";
    font-size: 60px;
    font-weight: 400;
    line-height: 71.81px;
    text-align: left;
    height: 72px;
    top: 172px;
    left: 156px;
}
.in{
    margin: 5px;
    padding: 5px;
    width: 180px;
    position: relative;
    border: none;
    border-bottom: 1px solid #1A5319;
    outline: none; /* إزالة التأثير عند التركيز */
    background: none; 
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    background: #D6EFD8;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.btn{
    width: 383px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 8px 0px 12px 0px;
    border-radius: 45px;
    background: #7C8761AB;
    border: 1px solid #FCFCFC;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.02);
}
#f1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#sp{
    color: #ffffff;
    padding: 20px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    width: 200px;
   
    }
    a{
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-decoration: none;
        color: #1A5319;
    }
#img2{
    position: relative;
    width: 120px;
    height: 140px;
    top: -1px;
}
@keyframes slide {
    from {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide1 {
    from {
        transform: translateX(70%);
    }
    to {
        transform: translateX(0);
    }
}
@media only screen and (max-width: 1024px){
    body{
        margin:30px;

    }
    h3{
        font-size: 32px;
    }
    .box{
        width:90%;
        margin-left: 0;
    }
    .container{
        width: 100%;
        margin-left: 0;
    }
    #l1{
        margin-left: 20%;
        font-size: 28px;
    }
    #img1{
        display: none;
    }
    #img2{
        display: none;
    }
    .in{
        width: 60%;
        margin: 0;
    }
    .btn{
        width: 70%;
        font-size: 16px;
    }
}

